@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
}

:root {
    --mainColor: rgba(0, 0, 0, 1);
    --newPassColor: #0d6efd;
    --transitions: all ease 300ms;

    --blue:    #0d6dfd;
    --indigo:  #6610f2;
    --purple:  #6f42c1;
    --pink:    #d63384;
    --red:     #dc3545;
    --orange:  #fd7e14;
    --yellow:  #ffc107;
    --green:   #198754;
    --teal:    #20c997;
    --cyan:    #0dcaf0;

    --primary:       var(--blue);
    --secondary:     #6c757d;
    --success:       var(--green);
    --info:          var(--cyan);
    --warning:       var(--yellow);
    --danger:        var(--red);
    --light:         #f8f9fa;
    --dark:          #212529;
}

html {
    /* font-size: 90%; */
}

body {
    font-family: 'Cairo', sans-serif;

}

.section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.pw__container {
    overflow: hidden;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.pw__container::-webkit-scrollbar {
    display: none;
}

.pw__box {
    opacity: 0;
    transition: var(--transitions);
}

.pw__item {
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
    /* height: auto; */
    padding: 0 1rem;
    /* padding: 2rem; */
}

.pw__item:hover .icon-desc {
    opacity: 1;
    transition: var(--transitions);
}

.btn:hover > p {
    /* color: var(--light); */
    /* background-color: var(--primary); */
}

.btn[aria-expanded='false'] > p {
    /* color: var(--primary) */
    transition: all ease 700ms;
}

.btn[aria-expanded='true'] > p {
    /* color: var(--primary); */
    /* opacity: .5; */
    transition: all ease 700ms;
    /* font-weight: 600; */

}

.btn[aria-expanded='true'] > .options__icon {
    transform: rotateX(180deg);
    transform-origin: center;
    transition: all ease 700ms;
}

.btn[aria-expanded='true'] > .options__icon svg {
    fill: var(--primary);
}

 
.btn[aria-expanded='false'] > .options__icon {

    /* background-image: url('./images/expand_more.svg'); */
    /* background-position: right; */
    /* background-repeat: no-repeat; */
    transform-origin: center;

    transition: all ease 300ms;

}
/* .options__icon.expand{
    background-image: url('./images/expand_more.svg');
    background-position: right;
    background-repeat: no-repeat;
    margin-left: auto;

} */

/* .options__icon.close{
    background-image: url('./images/expand_less.svg');
    background-position: right;
    background-repeat: no-repeat;
    margin-left: auto;
    transition: var(--transitions);

} */

.alert {
    position: relative;
    
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity ease-in-out 350ms;
}

.new-pass-color {
    color: var(--newPassColor);
    transition: color ease 350ms;
}


/* ===== Password List item icons ===== */
.btn-icons {
    padding: 0;
    opacity : .5;
    transition: var(--transitions);
}

.btn-icons * {
    opacity: 1;
}

.btn-icons.unsafe {
    fill: var(--danger);
    transform: scale(1.1);
}

.btn-icons.safe {
    fill: var(--success);
}


.btn-icons.info {
    fill: var(--primary);
}

.btn-icons.copy:hover {
    fill: var(--primary);
}

.btn-icons svg{
    fill: var(--secondary);
}

.btn-icons svg:hover {
    fill: var(--primary);
    transition: var(--transitions);
}

.btn-icons svg:active {
    fill: magenta;
    transition: var(--transitions);
}
/* ===== ===== ===== ===== ===== ===== */


.tool-tip {
    /* padding: 1rem; */
}


/* @media (max-width: 30rem) {
    .form-check-label {
        font-size: .75rem;
    }
} */