@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    
}

:root {
    --mainColor: rgba(0, 0, 0, 1);
    --newPassColor: #0d6efd;
    --transitions-1: all ease 300ms;
    --transitions-2: all ease 700ms;

    --blue:    #0d6efd;
    --indigo:  #6610f2;
    --purple:  #6f42c1;
    --pink:    #d63384;
    --red:     #dc3545;
    --orange:  #fd7e14;
    --yellow:  #ffc107;
    --green:   #198754;
    --green-light: rgba(25, 135, 84, 0.25);
    --teal:    #20c997;
    --cyan:    #0dcaf0;

    --primary:       var(--blue);
    --secondary:     #6c757d;
    --success:       var(--green);
    --success-light: var(--green-light);
    --info:          var(--cyan);
    --warning:       var(--yellow);
    --danger:        var(--red);
    --light:         #f8f9fa;
    --dark:          #212529;
    --gray-100:      #f8f9fa;
    --alert-blue:    #cfe2ff;
    --alert-green:   #d1e7dd;
    --alert-red:     #f8d7da;
    --alert-info:      #cff4fc;
}



body {
    font-family: 'Cairo', sans-serif;
}

.app {
    /* max-height: 100vh; */
    min-width: 280px;
}

.app__header {
    position: relative;
}

.app__header--help {
    /* position: absolute; */
    /* top: 0; */
    /* right: 0; */
    /* opacity: .5; */
    /* display: block; */
    /* fill: var(--blue); */
    /* height: auto; */
    /* width: 1.5rem; */
}

.app-help--icon {
    pointer-events: none;
}

.message-container {
    position: relative;
    min-height: 4rem;
    overflow: scroll;
    flex: 2;
    transition: var(--transitions-2);
}

.message-container::-webkit-scrollbar {
    display: none;
}

.instructions {
    position: relative;
    z-index: 100;
    transition: var(--transitions-2);
}

.instruction__icon {
    fill: var(--dark);
}

.instructions__list--item {
    background-color: transparent;
}

.flicker-green {
    background-color: var(--alert-green);
    transition: var(--transitions-2);
}

.flicker-red {
    background-color: var(--alert-red);
    transition: var(--transitions-2);
}

.flicker-info {
    background-color: var(--alert-info);
    transition: var(--transitions-2);
}

.pw__container::-webkit-scrollbar {
    display: none;
}

.pw__box {
    position: relative;
    flex: 1 1;
    opacity: 0;
    transition: var(--transitions-1);
}

.pw__box::-webkit-scrollbar {
    display: none;
}


.pw__box--header {
    height: auto;
    /* position: absolute; */
}

.pw__container {
    flex: 1 1 auto;
    overflow: hidden;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.pw__item {
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
    padding: 0 .5rem 0 1rem;
    transition: var(--transitions-2);
}

.instructions__list--item > h5 {
    color: var(--primary);
    margin-bottom: .25rem;
}

.pw__item:hover .icon-desc {
    opacity: 1;
    transition: var(--transitions-1);
}

.options__label:hover {
    color: var(--primary);
    transition: var(--transitions-1);
    text-shadow: 0 0 .5px var(--primary);
}

.btn[aria-expanded='false'] > p {
    transition: var(--transitions-2);
}

.btn[aria-expanded='true'] > p {
    color: var(--primary);
    text-shadow: 0 0 .5px var(--primary);

    transition: var(--transitions-2);
    

}

.btn[aria-expanded='true'] > .options__icon {
    
    /* transition: var(--transitions-2); */
}

.btn[aria-expanded='true'] > .options__icon svg {
    transform: rotateX(180deg);
    transform-origin: center;
    fill: var(--primary);
    transition: var(--transitions-2);
}

.btn[aria-expanded='false'] > .options__icon svg {
    transform: rotateX(0);
    transform-origin: center;
    fill: var(--primary);
    transition: var(--transitions-2);
}
 
.alert {
    position: relative;
    width: 100%;
    z-index: 10;
    flex: 1;
}

.alert > .btn-close {
    margin-left: auto;
}


/* new password styling classes */
.new-pass-color {
    background-image: linear-gradient(to right, var(--success-light), var(--success-light),  var(--success-light), var(--success-light), var(--light), var(--light), var(--light), var(--light));
    background-size: 200% 200%;
    /* color: var(--primary); */
    /* transition: color ease 350ms; */
    animation-name: newpass;
    /* animation-delay: 1000ms; */
    animation-duration: 150ms;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

.bg-fade {
    background-image: linear-gradient(to right, transparent, transparent, transparent, transparent, var(--success-light),  var(--success-light), var(--success-light));
    background-size: 200% 200%;
    /* color: var(--primary); */
    /* transition: color ease 350ms; */
    animation-name: newpassfade;
    animation-duration: 150ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}
/* ================================== */



/* ===== Password List item icons ===== */
.btn.btn-icons {
    padding: 0;
    opacity : .75;
    transition: var(--transitions-1);
}

.btn-icons > .unsafe {
    fill: var(--danger);
    transform: scale(1.1);
}

.btn-icons > .safe {
    fill: var(--success);
}

.btn-icons > .sc-info {
    fill: var(--primary);
    max-height: 1.25rem;
    max-width: 1.25rem;
}

.btn-icons svg{
    fill: var(--secondary);
    pointer-events: none;
}

/* ===== ===== ===== ===== ===== ===== */

.btn[data-bs-target='#collapseOptions'] {
    height: 24px;
}

/* .btn.btn-icons.tool-tip {
    opacity: .75;
    padding: 0;
} */

.sc-container__labels {
    position: relative;
}

.btn.btn-icons.tool-tip > .tool-tip__div {
    position: absolute;
    display: flex;
    opacity: 0;
    padding: 1rem;
}

.btn.btn-icons.tool-tip:hover > .tool-tip__div {
    opacity: 1;
}

.bg-green-light {
    background-color: var(--green-light);

}

/* .char-type__error {
    background-color: var(--warning);
    opacity: .5;
} */


/* ===== animations ===== */
@keyframes newpass {
    0% {background-position: 100% 100%;}
    100% {background-position: 0 0;}
}

@keyframes newpassfade {
    0% {background-position: 100% 100%;}
    100% {background-position: 0 0;}
}
/* ======================= */