@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&display=swap');
@import 'animations.css';
@import 'colors.css';


/* ======= Base stylings and resets ======= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Cairo', sans-serif;
    min-height: calc(100vh - .2rem);
}


.app {
    /* height: 100%; */
    min-width: 280px;
    flex: 0;
}
/* ============================================= */

/* ======= Header & Alert Container ========= */
.app__header {
    position: relative;
}

.app-help--icon {
    pointer-events: none;
}

.message-container {
    height: 4rem;
    overflow: scroll;
    transition: var(--transitions-2);
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.message-container::-webkit-scrollbar {
    display: none;
}

/* ============================================== */

/* ==============FOOTER================== */
.footer {
    z-index: 100;
    font-size: .75rem;
    flex: 0;
    margin-top: auto;
    margin-bottom: .2rem;
}

.footer a {
    text-decoration: none;
}
/* ========================================== */

/* ========= HELP/INSTRUCTIONS ================= */
.instructions {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 100;
    transition: var(--transitions-2);
    padding: 1rem;
    /* margin: 1rem; */
    box-shadow: 0 0 1rem black;
    background-color: var(--alert-blue);
    margin-top: 4rem;
    background-blend-mode: blur(5px);
    max-width: 30rem;
}

.instructions__text {
    margin-bottom: 0;
}

.instruction__icon {
    fill: var(--dark);
}

.instructions.instructions--fade {
    display: flex;
}

.instructions.instructions--show {
    opacity: 1;
    transition: all ease 5000;
}

.instructions__list--item {
    background-color: var(--light);
}

.instructions__list--item:not(:last-of-type) {
    margin-bottom: .25rem;
}

.instructions__heading {
    color: var(--primary);
    margin-bottom: .25rem;
}

/* ====================================================== */

/* ============PW item container================ */
.pw__box {
    position: relative;
    opacity: 0;
    transition: var(--transitions-1);
}

.pw__box::-webkit-scrollbar {
    display: none;
}


.pw__box--header {
    height: auto;
    /* position: absolute; */
}

/* === PW item list ul container === */
.pw__container {
    flex: 1 1 auto;
    overflow: hidden;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.pw__container::-webkit-scrollbar {
    display: none;
}
/* ================================= */

/* === PW list items === */
.pw__item {
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
    padding: 0 .5rem 0 1rem;
    transition: var(--transitions-2);
}
/* ===================== */

/* ========ALERT STYLINGS ==================== */
.alert {
    z-index: 10;
    flex: 0;
    min-height: 100%;
}

.alert > p {
    font-size: .85rem;
}

.alert-link {
    text-decoration: none;
}
/* ================================================ */

/* ==================new password styling classes========= */
.new-pass-color {
    background-image: linear-gradient(to right, var(--alert-green), var(--alert-green),  var(--alert-green), var(--alert-green), var(--light), var(--light), var(--light), var(--light));
    background-size: 200% 200%;
    /* color: var(--primary); */
    /* transition: color ease 350ms; */
    animation-name: newpass;
    /* animation-delay: 1000ms; */
    animation-duration: 150ms;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

.bg-fade {
    background-image: linear-gradient(to right, transparent, transparent, transparent, transparent, var(--alert-green),  var(--alert-green), var(--alert-green));
    background-size: 200% 200%;
    /* color: var(--primary); */
    /* transition: color ease 350ms; */
    animation-name: newpassfade;
    animation-duration: 150ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}
/* ====================================================== */



/* ================= Buttons =========================== */

/* Special Character Options Label */
.options__label:hover {
    color: var(--primary);
    transition: var(--transitions-1);
    text-shadow: 0 0 .5px var(--primary);
}


.btn[aria-expanded='false'] > .options__label {
    transition: var(--transitions-2);
}

.btn[aria-expanded='true'] > .options__label {
    color: var(--primary);
    text-shadow: 0 0 .5px var(--primary);
    transition: var(--transitions-2);
}
/* --------------- */

/* Special Characters Options Icon */
.btn[aria-expanded='true'] > .options__icon svg {
    transform: rotateX(180deg);
    transform-origin: center;
    fill: var(--primary);
    transition: var(--transitions-2);
}

.btn[aria-expanded='false'] > .options__icon svg {
    transform: rotateX(0);
    transform-origin: center;
    fill: var(--primary);
    transition: var(--transitions-2);
}
/* ---------------- */

/* Icon Buttons */
.btn-icons {
    padding: 0;
    opacity : .75;
    transition: var(--transitions-1);
}

.btn-icons > .unsafe-pw-icon {
    fill: var(--danger);
    transform: scale(1.1);
}

.btn-icons > .safe-pw-icon {
    fill: var(--success);
}

.btn-icons > .sc-info-icon {
    fill: var(--primary);
    max-height: 1.25rem;
    max-width: 1.25rem;
}

.btn-icons svg{
    fill: var(--secondary);
    pointer-events: none;
}

.btn[data-bs-target='#collapseOptions'] {
    height: 24px;
}

.sc-container__labels {
    position: relative;
}

.sc-container__labels > .btn.btn-icons.tool-tip {
    border: none;
}

.btn.btn-icons.tool-tip > .tool-tip__div {
    position: absolute;
    display: flex;
    opacity: 0;
    padding: 1rem;
}

.btn.btn-icons.tool-tip:hover > .tool-tip__div {
    opacity: 1;
}

/* ======================================================= */

/* ================= PW ITEM COLOR FLICKERS ================ */
.flicker-safe {
    background-color: var(--alert-green);
    transition: var(--transitions-2);
}

.flicker-vulnerable {
    background-color: var(--alert-red);
    transition: var(--transitions-2);
}

.flicker-info {
    background-color: var(--alert-info);
    transition: var(--transitions-2);
}
/* ========================================================= */

/* ===============PENDING VALIDATION SPINNER ================ */
.pending__dots {
    position: relative;
}

.pending__dots--item,
.pending__dots--item::before,
.pending__dots--item::after {
    width: 2rem;
    height: 1rem;
    border-radius: 5px;
    background-color: var(--alert-blue);
}

.pending__dots--item::before,
.pending__dots--item::after {
    content: '';
    display: inline-block;
    position: absolute;
    /* top: 0; */

}

.pending__dots--item {
    position: relative;
    animation: pending 1s infinite linear alternate;
    animation-delay: .5s;

}

.pending__dots--item::before {
    left: -3rem;
    animation: pending 1s infinite linear alternate;
    animation-delay: 0s;

}

.pending__dots--item::after {
    left: 3rem;
    animation: pending 1s infinite linear alternate;
    animation-delay: 1s;

}
/* ======================================================= */

/* ===============MEDIA QUERIES =============== */
@media only screen and (max-width: 400px) {
    .heading {
        font-size: 1rem;
    }

    .text {
        font-size: .75rem;
    }

    .pw__box--header-heading {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .instructions__list--item {
        padding: .5rem;
    }

    .pending__dots--item,
    .pending__dots--item::before,
    .pending__dots--item::after {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
    }

    .pending__dots--item::before {
        left: -1.5rem;
    }
    
    .pending__dots--item::after {
        left: 1.5rem;
    }
}

@media only screen and (max-width: 300px) {
    .pw__box--header-heading {
        font-size: 1.1rem;
        font-weight: 500;
    }
}
/* =============================================== */